---
// const today = new Date();
---

<footer
  class="font-bold max-w-blog mx-auto bg-transparent pt-[60px] pb-48 px-3"
>
  <h2 class="text-4xl leading-[30px]">Let&apos;s connect</h2>
  <p class="mt-6 text-2xl leading-[30px]">
    Get in touch via <a href="mailto:fl.tanveer@gmail.com" class="underline"
      >email
    </a>or <a href="https://www.linkedin.com/in/artanveer" class="underline"
      >LinkedIn</a
    >, and let&apos;s discuss how I can help you.
  </p>
</footer>
