---
import HeaderLink from "./HeaderLink.astro";
// import { SITE_TITLE } from "../config";
---

<header class="max-w-blog mx-auto px-3 mt-8" id="top">
  <nav class="flex justify-between py-2.5 text-black items-center">
    <HeaderLink href="/">
      <!-- {SITE_TITLE} -->
      <img src="/logo.svg" alt="Ar Tanveer" />
    </HeaderLink>
    <div class="flex gap-6">
      <HeaderLink class="text-black font-medium" href="/case-studies"
        >Case Studies</HeaderLink
      >
      <HeaderLink class="text-black font-medium" href="/about"
        >My Story</HeaderLink
      >
    </div>
  </nav>
</header>
