---
import "@fontsource/noto-sans/400.css";
import "@fontsource/noto-sans/500.css";
import "@fontsource/noto-sans/600.css";
import "@fontsource/noto-sans/700.css";
import "@fontsource/noto-sans/800.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const href = Astro.url.href;
const {
  content: { title, description, heroImage },
} = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
    <link rel="prefetch" href="/logo.svg" />
    <link rel="prefetch" href="/about-me.jpg" />
  </head>

  <body class="scroll-smooth antialiased bg-[#EDF1DB]">
    <Header />
    <main class="wrapper">
      <slot />
    </main>
    <Footer />
    <a
      href={`${href}#top`}
      class="fixed bottom-20 md:bottom-4 z-10 right-8 group hidden"
      id="goToTop"
    >
      <span class="sr-only">Go to top</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-arrow-up-circle text-gray-800"
        aria-hidden="true"
        ><circle cx="12" cy="12" r="10"></circle><polyline
          points="16 12 12 8 8 12"></polyline><line
          x1="12"
          y1="16"
          x2="12"
          y2="8"></line>
      </svg>
    </a>
    <style is:global>
      .wrapper {
        display: grid;
        grid-template-columns: 1fr min(832px, 100%) 1fr;
        margin: auto;
      }
      .wrapper > * {
        grid-column: 2;
        padding-inline: 12px;
      }
      .full__bleed {
        width: 100%;
        grid-column: 1 / 4;
        padding-inline: 0;
      }
      @media (min-width: 1024px) {
        .wrapper > *:not(.full_bleed) {
          padding-inline: 0;
        }
      }
    </style>
  </body>
  <script>
    document.addEventListener("scroll", () => {
      const element = document.getElementById("goToTop");
      const scroll =
        document.documentElement.scrollTop || document.body.scrollTop;
      if (element) {
        if (scroll > 300) {
          element.classList.remove("hidden");
          element.classList.add("block");
        } else {
          element.classList.remove("block");
          element.classList.add("hidden");
        }
      }
    });
  </script>
</html>
